.mavic{
    width: 640px;
    height: 400px;
    background-color: rgba(0, 128, 0, 0.6);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;

}
.mavic-off{
    animation-name: mavic-off;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}

.mavic__title{
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 30px;
    color: #fff;
    font-family: sans-serif;
}
.mavic-on{
    animation-name: mavic-on;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.mavic::after,
.mavic::before {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    animation-duration: 1s;
}

.mavic::after{
    background-image: url("../img/iphone-front.png");
    left: 18%;
    transform: translateY(200%) rotate(-20deg);
}

.mavic::before{
    background-image: url("../img/iphone-back.png");
    right: 18%;
    transform: translateY(200%) rotate(20deg);

}

.mavic:hover::after,
.mavic:hover::before {
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

.anime-on:after{
    animation-name: front-on;

}

.anime-off:after{
    animation-name: front-off;

}

.anime-on:before{
    animation-name: back-on;

}

.anime-off:before{
    animation-name: back-off;

}



@keyframes mavic-on{

    0%{

    }
    100%{
        transform: translateY(-100%);
    }

}

@keyframes mavic-off {

    0%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(30px);

    }
    70%{
        transform: translateY(-20px);
    }
    80%{
        transform: translateY(15px);
    }
    90%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }

}

@keyframes front-on {

    0%{
        left: 18%;
        transform: translateY(200%) rotate(-20deg);
    }

    60%{
        transform: translateY(0) rotate(0);

    }

    100%{
        transform: translateY(0) rotate(0);
        left: 34%;
    }

}

@keyframes back-on {

    0%{
        right: 18%;
        transform: translateY(200%) rotate(20deg);
    }

    60%{
        transform: translateY(0) rotate(0);
       }

    100%{
        transform: translateY(0) rotate(0);
        right: 34%;
    }

}

@keyframes front-off {

    0%{
        transform: translateY(0) rotate(0);
    }

    100%{
        left: 18%;
        transform: translateY(200%) rotate(-20deg);
    }

}

@keyframes back-off {

    0% {
        transform: translateY(0) rotate(0);
    }

    100% {
        right: 18%;
        transform: translateY(200%) rotate(20deg);
    }
}


















